<html>
<head>
	<title>Job Search</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
	<div class="container">
		<h3>Search</h3>
		<form action="/search" method="post" autocomplete="off" role="form">
			<div class="form-group">
				<label for="query">Search For</label>
				<input type="text" class="form-control" id="query" name="query" placeholder="Enter search">
			</div>
			<div class="form-group">
				<label for="loc">Where</label>
				<input type="text" class="form-control" id="location" name="loc" placeholder="Enter location">
			</div>
			<div class="form-group">
				<label for="srce">Source</label>
				<input type="radio" class="form-control" id="source" name="srce" value="indeed">
				<label for="srce_indeed">Indeed</label>
				<input type="radio" class="form-control" id="source" name="srce" value="cb">
				<label for="srce_cb">CareerBuilder</label>
				<input type="radio" class="form-control" id="source" name="srce" value="combine">
				<label for="srce_combine">Combine</label>
			</div>
			
			<button type="submit" class="btn btn-primary">Find Jobs</button>
		</form>
	</div>
</body>
</html>