<html>
<head>
	<title>Job Search</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript">
	var test = <%- JSON.stringify(data)%>;
	var type = <%- JSON.stringify(queryType)%>;

	var html = '';
	if (type == "indeed") {

		var text = "<p>Number of results: " + (test.length - 1) + "</p>";
		for (i = 1; i < test.length; i++){
			text += "<p>";
			var item = test[i];
			var keys = Object.keys(item);
			for (j = 0; j < keys.length; j++) {
				var k = keys[j];
				if (String(k).indexOf("$") == -1) {
					var itemValue = item[k];
					text += "key: " + k + " value: " + itemValue['$text'] + "<br>";
				}
				
			}
			
		text += "<br><br></p>";
		}
		document.write(text);
	} else if (type == "cb") {
		var text = "<p>Number of results: " + (test.length - 1) + "</p>";
		for (i = 1; i < test.length; i++){
			text += "<p>";
			var item = test[i];
			var keys = Object.keys(item);
			for (j = 0; j < keys.length; j++) {
				var k = keys[j];
				if (String(k).indexOf("$") == -1) {
					var itemValue = item[k];
					text += "key: " + k + " value: " + itemValue['$text'] + "<br>";
				}
				
			}
			text += "<br><br></p>";	
		}
		document.write(text);
	} else if (type == "combine") {
		var text = "<p>Number of duplicates: " + <%= numDupes %>  + "</p><br>";
		var keys = Object.keys(test);
		text += "Number of results: " + keys.length + "<br>"; 
		
		for (i = 0; i < keys.length; i++) {
			var k = keys[i];
			text += "<p> hash: " + k + "<br>" + test[k] + "<br><br></p>";
		}
		document.write(text);
	}

	</script>
</head>
<body>
	<div class="container">
		<%- include nav.ejs %>
		<div id='results'></div>
	</div>
</body>
</html>