<html>
<head>
	<title>Job Search</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
	<div class="container">
		<h3>Search Results</h3>
		"<%=data%>"
	</div>
</body>
</html>