input.form-control {
	width: 300px;
	padding: 6px;
	border-radius: 3px;
	moz-border-radius: 3px;
	webkit-border-radius: 3px;
}

span.smalltitle {
	font-size: 16px;
	color: #888;
}

span.smalltitle:hover {
	color: #555;
}

span.small {
	font-size: 12px;
}

p.error {
	color: red;
}

div.banner {
	margin-bottom: 10px;
}

div.banner h3 {
	display: inline;
}

div.banner span#addFriend {
	margin-left: 10px;
}

div.userInput label {
	display: block;
}

div.userInput input {
	display: inline;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

div.userInput button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

/*
Styling for search suggestions box
*/
div#suggestions {
	display: none;
	position: absolute;
	width: 300px;
	margin-top: -30px;
	padding: 6px 0px;
	background-color: #fff;
	z-index: 10;

	border: 1px solid #CCC;

	border-radius: 3px;
	moz-border-radius: 3px;
	webkit-border-radius: 3px;
}

div#suggestions span {
	display: block;
	padding: 6px 6px;
}

div#suggestions a {
	font-weight: bold;
}

div#suggestions a:hover {
	text-decoration: none;
	color: #fff;
}

div#suggestions a:hover > span {
	background-color: #428bca;
}

div#affiliationSuggestion a {
	cursor: pointer;
}

/*
Styling for News Feed
*/
div.post {
	margin-bottom: 30px;
	width: 370px;
}

div.postcontent {
	width: 310px;
	display: inline-block;
}

div.picture {
	vertical-align: top;
	display: inline-block;
	margin-right: 10px;
}

div.post a {
	font-weight: bold;
}

div.postcontent > p {
	margin-bottom: 0px;
}

p.timestamp {
	font-size: 10px;
}

span.comment p {
	margin-bottom: 2px;
}

span.comment p.timestamp {
	margin-bottom: 0px;
}

div.comments {
	background-color: #EEEEFF;
	margin-top: 5px;
	margin-left: 20px;
	padding: 2px 10px 10px 10px;
}

span.comment {
	display: block;
	font-size: 12px;
	border-bottom: 2px solid #FFF;
	padding-top: 8px;
	padding-bottom: 8px;
}

div.picture > img {
	height: 50px;
	width: 50px;
}

div.commentcontent {
	width: 220px;
	display: inline-block;
}

span.comment.no-border {
	border-bottom: none;
}

input.comment-input {
	width: 330px;
	font-size: 12px;
	height: 26px;
	padding: 0px 6px;
}

span.glyphicon {
	margin-left: 2px;
}

span.delete {
	float: right;
	cursor: pointer;
	color: #999999;
	margin-top: -3px;
	margin-right: 2px;
}

span.delete:hover {
	color: #666666;
}

#indeedAdvancedOptions {
	width: auto;
	height: auto;
}

.searchBasic {
	float: left;
	width: auto;
	position: relative;
}

.searchAdvanced {
	float: left;
	width: auto;
	margin-left: 50px;
	position: relative;
}